<div class="navbar navbar-inverse navbar-fixed-left">
  <ul class="nav navbar-nav">
    <li><%= link_to "Profil", user_path(current_user) %></li>
    <li><%= link_to "Booking", user_bookings_path(current_user) %></li>
    <li><%= link_to "Dives", guide_dives_path %></li>
  </ul>
</div>
