.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    height: 60vh;
    margin: auto;
  }

  .carousel {
    position: absolute;
  }

  .carousel .form {
    position: relative;
    bottom: 100px;
  }

  .form .btn {
    margin-top: 27px;
  }
