.navbar-fixed-left {
  width: 90px;
  border-radius: 0;
  background-color: #1B252C;
  position: fixed;
  left: 0;
  top: 54px;
  bottom: 0;
}

ul.nav.navbar-nav {
  margin-top: 40px;
}

.content {
  margin-left: 200px;
  margin-top:20px;
}


.profil-avatar {
  border-radius: 50px;
  width: 100px;
}

.dive-photo {
  width: 300px;
  margin-top: 10px;
  border-radius: 10px;
}

// height: 85%;
//     position: relative;
//     overflow-y: scroll;
