.navbar-fixed-left {
  width: 140px;
  border-radius: 0;
  background-color: #1B252C;
  position: fixed;
  left: 0;
  top: 54px;
  bottom: 0;
}

.content {
  margin-left: 200px;
  margin-top:50px;
}


.profil-avatar {
  border-radius: 50px;
  width: 150px;
}


// height: 85%;
//     position: relative;
//     overflow-y: scroll;
